<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Capacitor Filesystem rmdir test </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex justify-content-center">
  <div class="col-11 grid flex flex-row">
    <div class="grid">
      <div
        *ngFor="let p of Photo; index as i"
        class="flex flex-column align-items-center ml-4"
      >
        <p-image
          [src]="p.data"
          width="80"
          height="80"
          [preview]="true"
        ></p-image>
        <button
          class="p-button-raised p-button-danger p-button-md mt-4"
          pButton
          icon="pi pi-trash"
          type="button"
          label="delete"
          (click)="deleteImage(i)"
        ></button>
      </div>
      <button
        class="p-button-raised p-button-info p-button-md mt-4"
        pButton
        icon="pi pi-camera"
        type="button"
        (click)="selectImage()"
      ></button>
    </div>
  </div>
  <button
    id="clear"
    pButton
    class="p-button-danger"
    type="button"
    label="Clear"
    icon="pi pi-trash"
    iconPos="left"
    (click)="clear()"
  ></button>
  </div>
</ion-content>
